body {
    background-color: #f5eec2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 60%;
    height: 38px;
    margin: 5px;
    padding: 10px;
    border-radius: 11px;
    border: none;
    font-size: inherit;

}

form button {
    width: 60%;
    height: 31px;
    padding: 5px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #416a59;
    color: white;
    border: none;
    margin: 5px;
    letter-spacing: 1px;
}